<div class="row">
  <div class="col-md-4">
    <h5>Day 1 - August 20 - Unix Shell & Git</h5>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>Morning</td> <td><a href="https://swcarpentry.github.io/shell-novice/01-intro.html" target="_blank" rel="noopener noreferrer">Shell: Introducing the Shell</a></td> </tr>
      <tr> <td>Morning</td> <td><a href="https://swcarpentry.github.io/shell-novice/02-filedir.html" target="_blank" rel="noopener noreferrer">Shell: Navigating Files and Directories</a></td> </tr>
      <tr> <td>Morning</td> <td><a href="https://swcarpentry.github.io/shell-novice/03-create.html" target="_blank" rel="noopener noreferrer">Shell: Working With Files and Directories</a></td> </tr>
      <tr> <td>Morning</td> <td><a href="https://swcarpentry.github.io/shell-novice/04-pipefilter.html" target="_blank" rel="noopener noreferrer">Shell: Pipes and Filters</a></td> </tr>
      <tr> <td>Morning</td> <td><a href="https://swcarpentry.github.io/shell-novice/05-loop.html" target="_blank" rel="noopener noreferrer">Shell: Loops</a></td> </tr>
      <tr> <td>Afternoon</td> <td>Lunch break</td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/shell-novice/06-script.html" target="_blank" rel="noopener noreferrer">Shell: Shell Scripts</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/shell-novice/07-find.html" target="_blank" rel="noopener noreferrer">Shell: Finding Things</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/git-novice/01-basics.html" target="_blank" rel="noopener noreferrer">Git: Automated Version Control</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/git-novice/02-setup.html" target="_blank" rel="noopener noreferrer">Git: Setting Up Git</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/git-novice/03-create.html" target="_blank" rel="noopener noreferrer">Git: Creating a Repository</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/git-novice/04-changes.html" target="_blank" rel="noopener noreferrer">Git: Tracking Changes</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/git-novice/05-history.html" target="_blank" rel="noopener noreferrer">Git: Exploring History</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/git-novice/06-ignore.html" target="_blank" rel="noopener noreferrer">Git: Ignoring Things</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/git-novice/07-github.html" target="_blank" rel="noopener noreferrer">Git: Remotes in GitHub</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/git-novice/08-collab.html" target="_blank" rel="noopener noreferrer">Git: Collaborating</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/git-novice/09-conflict.html" target="_blank" rel="noopener noreferrer">Git: Conflicts</a></td> </tr>
      <tr> <td>Afternoon</td> <td>Wrap-up</td> </tr>
    </table>
  </div>
  
  <div class="col-md-4">
    <h5>Day 2 - August 21 - Python</h5>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://swcarpentry.github.io/python-novice-inflammation/01-intro.html" target="_blank" rel="noopener noreferrer">Python Fundamentals</a></td> </tr>
      <tr> <td>Morning</td> <td><a href="https://swcarpentry.github.io/python-novice-inflammation/02-numpy.html" target="_blank" rel="noopener noreferrer">Analyzing Patient Data</a></td> </tr>
      <tr> <td>Afternoon</td> <td>Lunch break</td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/python-novice-inflammation/03-matplotlib.html" target="_blank" rel="noopener noreferrer">Visualizing Tabular Data</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/python-novice-inflammation/04-lists.html" target="_blank" rel="noopener noreferrer">Storing Multiple Values in Lists</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/python-novice-inflammation/05-loop.html" target="_blank" rel="noopener noreferrer">Repeating Actions with Loops</a></td> </tr>
      <tr> <td>Afternoon</td> <td>Wrap-up</td> </tr>
    </table>
  </div>

  <div class="col-md-4">
    <h5>Day 3 - August 24 - Python</h5>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://swcarpentry.github.io/python-novice-inflammation/06-files.html" target="_blank" rel="noopener noreferrer">Analyzing Data from Multiple Files</a></td> </tr>
      <tr> <td>Morning</td> <td><a href="https://swcarpentry.github.io/python-novice-inflammation/07-cond.html" target="_blank" rel="noopener noreferrer">Making Choices</a></td> </tr>
      <tr> <td>Morning</td> <td><a href="https://swcarpentry.github.io/python-novice-inflammation/08-func.html" target="_blank" rel="noopener noreferrer">Creating Functions</a></td> </tr>
      <tr> <td>Afternoon</td> <td>Lunch break</td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/python-novice-inflammation/09-errors.html" target="_blank" rel="noopener noreferrer">Errors and Exceptions</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/python-novice-inflammation/10-defensive.html" target="_blank" rel="noopener noreferrer">Defensive Programming</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/python-novice-inflammation/11-debugging.html" target="_blank" rel="noopener noreferrer">Debugging</a></td> </tr>
      <tr> <td>Afternoon</td> <td><a href="https://swcarpentry.github.io/python-novice-inflammation/12-cmdline.html" target="_blank" rel="noopener noreferrer">Command-Line Programs</a></td> </tr>
      <tr> <td>Afternoon</td> <td>Wrap-up</td> </tr>
      <tr> <td>Afternoon</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
